.choiceBtnCtn {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.playBtn {
    background-color: bisque;
    padding: 10px 30px;
    margin-top: 50px;
    font-weight: bold;
    color: black;
}

